.dialog {
	background-color: var(--medium-lite-brown);
	color: var(--dark-brown);
	padding: 10px 20px;
	width: max-content;
	position: fixed;
	top: 70px;
	left: 50%;
	transform: translate(-50%, 10px);
	border-radius: 10px;
	border: 1px solid var(--medium-brown);
	box-shadow: 0px 0px 37px -9px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 0px 37px -9px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 37px -9px rgba(255, 255, 255, 1);
}
