.dialog {
    background-color: var(--medium-lite-brown);
    color: var(--dark-brown);
    padding: 10px 20px;
    width: max-content;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    border-radius: 10px;
}
