@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(248 250 252) !important;
}

.container {
	padding: 20px; 
	margin-left: auto;
	margin-right: auto; 
	width: 100%; 
	max-width: 768px; 
}


.body {
	width: 100%;
	margin: 0 auto;
	display: flex;
	position: relative;
}

.absolute-center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mt-5 {
	margin-top: 20px; 
}

.mr-2 {
	margin-right: 8px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0041a2;
}

.btn-primary:focus {
    box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.5);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}